# Исключаем всё, что не нужно в контейнере
node_modules
Dockerfile
docker-compose.yml
.dockerignore
# .env
# .env.*
*.sqlite
*.log
.env
.env.dev
.env.staging
__generated__
swagger.json
orval.config.ts
*.test.ts
*.spec.ts
coverage
.vscode
.idea
**/__tests__/
**/*.md
