# Исключаем всё, что не нужно в контейнере
node_modules
dist
Dockerfile
docker-compose.yml
.dockerignore
# .env
# .env.*
*.sqlite
*.log
*.test.ts
*.spec.ts
coverage
.vscode
.idea
**/__tests__/
**/*.md
